.list{
  display: flex;  
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  width: 90%

}
.results {
    text-transform: capitalize;
}

.buttons{
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 8px 0;
}