.listitem{
    background-color: rgb(255, 255, 255);
    color: black;
    margin: 8px 0;
    border-radius: 4px;
    text-transform: capitalize;
    height:30px;
    width:100%;
    cursor: pointer;
}