.button{
    background-color:#7c2a2d; 
}
.hidden{
    visibility: hidden;
}
button {
    border: 0;
    border-radius: 0.25rem;
    background:#ff5d64;
    color: white;
    font-size: 1rem;
    line-height: 1.2;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    cursor: pointer;
  }