.label {
    display:flex;
    width:100%;
    box-shadow:0px 11px 24px 7px rgba(0, 0, 72, 0.2);
}
h3 {
    text-transform: capitalize;
}
.abilities {
    text-align: left;
    color: #6d7f95;
    width: 60%;  
}
.ability {
    background-color:#ebf2f7 ;
    border-radius:10px;
    text-transform: capitalize;
    font-size: 13px;
    text-align: center;
    color:#485668;
    font-weight: bold;
    margin:5px;
    padding: 5px 10px;
}
.info {
     text-align: left;
     padding-left: 10px;
     width:40%; 
}
.info p {
    color: #6d7f95;
}
.abilitylist {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
@media only screen and (max-width: 500px) {
    .label {
        box-shadow:0px 11px 24px 7px rgba(0, 0, 72, 0.2);
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    .info {
        width: 100%;
        padding: 0px;
    }
}