.searchbar {
    margin:20px;
    width: 100%;

  }
  .inputfield{
    padding-left: 15px;
    width:100%;
    border-style: solid;
    border-color:#dee8ef;
    border-radius: 5px;
    box-shadow: 0px 25px 72px 2px #00004e33;
    height: 25px;
    border-width:1px;

  }
  @media only screen and (max-width: 500px) {
    .searchbar {
      width:80%;
      }
   }
