.wraper{
    display: flex;
    flex-direction: row;
    width:100vw;
}
.card{
    width: 75%;
}

.sidebar {
    color: white;
    background-color:#7c2a2d;
    height: 100%;
    width:20%;
    display: flex;
    justify-content: center;
    flex-direction: column;


}
@media only screen and (max-width: 500px) {
    .sidebar {
        color: white;
        background-color:#7c2a2d;
        height: 100%;
        width: 100%;
    }
    .wraper{
    display: flex;
    flex-direction: column;
    }
}
  